.button {
    padding: 0.5rem 2rem; 
    font-size: 1.125rem; 
    font-weight: bold; 
    border-radius: 9999px; 
    display: flex;
    align-items: center;
    gap: 0.5rem; 
  }
  
  .button.play {
    background-color: #10b981;
  }
  
  .button.play:hover {
    background-color: #047857; 
  }
  
  .button.pause {
    background-color: #3b82f6;
  }
  
  .button.pause:hover {
    background-color: #1e40af;
  }
  
  .button.reset {
    background-color: #f97316;
  }
  
  .button.reset:hover {
    background-color: #c2410c;
  }
  